* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.header {
    height: 60px;
    width: 100%;
    background-color: rgb(233, 99, 51);
}
.header img{
    border-radius: 10px;
    margin: 5px 0px 0px 25px;
    float: left;
    cursor: pointer;
}
.header ul {
    margin-left: 950px;
    list-style: none;
}
.header ul li {
    margin: 15px 15px 0px 5px;
   float: left;
}
.header ul li a {
    color: white;
    text-decoration: none;
   font-size: 1.2rem;
}
.nav{
    position: sticky;
    top: 0px;
    width: 100%;
    height: 60px;
    background-color: rgb(59, 58, 58);
}
.nav ul {
    list-style-type: none;
    padding-top: 15px;
}
.nav ul li {
    display: inline;
}
.nav ul li a {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    margin: 0px 15px 0px 25px;

}
.whatsapp {
    position: fixed;
    right: 0px;
     top: 40%;
    cursor: pointer;
}
.banner img {
        background-repeat: no-repeat;
}
.banner div h1{
     position: absolute;
     top: 25%;
     left: 28%;
     color: white;
     font-size: 4rem;
     font-weight: 200;
}
.banner div h5{
    position: absolute;
    top: 35%;
    left: 33%;
    color: white;
    font-size: 1.5rem;
    font-weight: 200;
}
.banner button{
    position: absolute;
    top: 40%;
    left: 46%;
    text-align: center;
    height: 50px;
    width: 125px;
    border: none;
    border-radius: 2px solid white;
    border-radius: 10px;
    background-color: rgb(233, 99, 51);
    font-size: 1.3rem;
    color: white;
    cursor: pointer;

}
.banner button:hover{
    background-color: rgb(161, 135, 125);
}
.three-row {
    margin-top: -5px;
    width: 100%;
    height: 450px;
    background-color: rgb(51, 49, 49);

}
.row1 img {
    border: 2px solid white;
    border-radius: 15px;
}
.row2 img {
    border: 2px solid white;
    border-radius: 15px;
}
.row3 img {
    border: 2px solid white;
    border-radius: 15px;
}
.row1 {
    margin: 20px 5px 5px 55px;
    width: 30%;
    margin: 20px;
    float: left;
}
.row2 {
    margin: 20px 5px 5px 35px;
    float: left;
    width: 30%;
}
.row3 {
    width: 30%;
    margin: 20px 5px 5px 35px;
    float: left;
}
.row1 p{
    font-size: 1.2rem;
    margin: 15px;
    color: white;
}

.row2 p, h2{
    font-size: 1.2rem;
    margin: 15px;
    color: white;
}

.row3 p{
    font-size: 1.2rem;
    margin: 15px;
    color: white;
}
.row1 h2{
    font-size: 2.2rem;
}
.row2 h2{
    font-size: 2.2rem;
}
.row3 h2{
    font-size: 2.2rem;
}
.frow {
    width: 100%;
    height: 350px;
}
.four-row{
    width: 25%;
    margin: 150px 15px 5px 110px;
    line-height: 40px;
    float: left;
    }
.four-row button {
    width: 300px;
    height: 35px;
    font-size: 1.2rem;
    background-color:  rgb(233, 99, 51);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.four-row button:hover{
    background-color: grey;
}
.four-row1 button:hover{
    background-color: grey;
}
.four-row2 button:hover{
    background-color: grey;
}
    
.four-row1{
    width: 25%;
    margin: 150px 15px 15px 50px;
    float: left;
    line-height: 40px;}
    
.four-row1 button {
    width: 300px;
    height: 35px;
    font-size: 1.2rem;
    background-color:  rgb(233, 99, 51);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.four-row2 {
    width: 25%;
    margin: 150px 15px 5px 50px;
    float: left;
    line-height: 40px;
}
.four-row2 button {
    width: 300px;
    height: 35px;
    font-size: 1.2rem;
    background-color:  rgb(233, 99, 51);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.four-row h3 {
    font-weight: 400;
    font-size: 1.8rem;
}
.four-row1 h3 {
    font-weight: 400;
    font-size: 1.8rem;
}
.four-row2 h3 {
    font-weight: 400;
    font-size: 1.8rem;
}
#five-row{
    width: 100%;
    background-color: rgb(46, 44, 44);;
    height: 570px;
}
form h5 {
    width: 500px;
    font-size: 2rem;
    color: white;
    margin: 25px 500px 0px;
    padding-top: 85px;
}
form {
    font-size: 1.2rem;
}
form input {
    padding: 10px;
    width: 550px;
    border-radius: 10px;
    font-size: 1.2rem;
    margin: 25px 350px;
}
form textarea {
    font-size: 1.2rem;
    border-radius: 10px;
    width: 550px;
    margin: 10px 350px 0px;
    padding: 10px;
}
form button {
    margin: 10px 350px 0px;
    width: 550px;
    height: 45px;
    border-radius: 10px;
    background-color:  rgb(233, 99, 51);
    font-size: 1.2rem;
    color: white;
    border: none;
    cursor: pointer;
}
form button:hover{
    background-color: grey;
}
.footer {
    
    color: white;
    width: 100%;
    height: 70px;
    background-color: rgb(233, 99, 51);
    text-align: center;
    padding-top: 25px;
    font-size: 1.2rem;
}

/* MOVIES PAGE  */
.movie-header {
    width: 100%;
    height: 60px;
    background-color: #333;
    padding-left: 35px;
}
.movie-header img {
    float: left;
    cursor: pointer;
}
.movie-header input {
    float: left;
    margin: 8px;
    width: 45%;
    height: 40px;
    border-radius: 8px;
    font-size: 1.1rem;
    padding: 15px;
}
.movie-header select {
    color: white;
    background: transparent;
    width: 9%;
    height: 30px;
    margin: 15px 0px 0px 300px;
    font-size: 1.1rem;
    background-color: #333;
}
.movie-header button{
    border-radius: 5px;
    color: white;
    background-color: rgb(240, 10, 21);
    height: 35px;
    font-size: 1rem;
    width: 70px;
    margin-top: 15px;
    margin-left: 15px;
    cursor: pointer;
    padding: 5px;
}
.movies-nav{
    width: 100%;
    height: 40px;
    background-color: rgb(0, 0, 0);
}
.movies-nav ul {
    margin-left: 35px;
    list-style: none;
    
}
.movies-nav ul li {
   float: left;
    padding-top: 10px;
}
.movies-nav ul li a{
    color: white;
    text-decoration: none;
    margin: 10px;
}   
.left {
    float: right;
}
.movies{
   width: 100%;   
}
.banner {
    cursor: pointer;
}
.movies-pik {
    margin: 5px 10px 10px 15px;
}
.movies-pik img {
    border-radius: 35px;
    cursor: pointer;
}
.movies-h1 {
    font-size: 1.8rem;
    color: black;
      
}
.banner1 img {
    padding: 85px;
    border-radius: 95px;
    cursor: pointer;
}

/* movie-sub-page */
.img1 {
   
}
.img2 {
    position:absolute;
    top: 150px;
    left: 50px;
    border-radius: 20px;
    float: left;
}
.movie-sub-page-banner h2 {
    float: left;
    color: red;
    position: absolute;
    top: 0px;
    left: 50px;
}
.movie-sub-page-banner h4 {
    float: left;
}
.movie-sub-page-banner p{
    float: left;
}
.movie-sub-page-banner button{
    float: left;
}
.overflow {
    margin: 15px 35px 0px 0px;
    float: right;
    width: 20%;
    height: 380px;
    overflow: scroll;
}
.overflow ul img {
    margin: 15px 5px 5px 20px;
    border-radius: 20px;
}
   